/* CSS Variables */
:root {
  --primary-color: hsl(31, 77%, 52%);
  --secondary-color: hsl(184, 100%, 22%);
  --tertiary-color: hsl(179, 100%, 13%);
}

body {
  font-size: 15px;
}
/* Main styles */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 100px;
}

.card {
  box-sizing: border-box;
  width: 290px;
  height: 430px;
  font-size: 15px;
  padding: 40px 60px 0px 40px;
}

.first {
  background-color: var(--primary-color);
  border-radius: 8px 0 0 8px;
}

.second {
  background-color: var(--secondary-color);
}

.third {
  background-color: var(--tertiary-color);
  border-radius: 0 8px 8px 0;
}

.title {
  font-family: "Big Shoulders Display", cursive;
  font-size: 33px;
  text-transform: uppercase;
  color: white;
}

.btn {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 40px;
  cursor: pointer;
  font-weight: 400px;
}

.btn-first {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-second {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.btn-third {
  border: 2px solid var(--tertiary-color);
  color: var(--tertiary-color);
}

.btn-first:hover {
  background: var(--primary-color);
  border: 2px solid white;
  color: white;
}

.btn-second:hover {
  background: var(--secondary-color-color);
  border: 2px solid white;
  color: white;
}

.btn-third:hover {
  background: var(--tertiary-color-color);
  border: 2px solid white;
  color: white;
}

.content {
  font-family: "Outfit", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.4;
  font-weight: 400px;
  margin-bottom: 60px;
}

/* Media query for smaller screens */
@media (max-width: 375px) {
  .container {
    flex-direction: column;
  }
  .first {
    border-radius: 8px 8px 0 0;
  }
  .third {
    border-radius: 0 0 8px 8px;
  }
}
